body {
    margin: 0;
    font-family: sans-serif;
}
nav {
    background-color: #234465;
    padding: 15px;
  
}
nav li {
    padding: 0 20px;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
}